@import "bootstrap/dist/css/bootstrap.min.css";
/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@font-face {
    font-family: "Plus Jakarta Sans", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.btn-primary {
    background-color: #c29d6c;
    border-color: #c29d6c;
    color: white;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: #735e41;
    border-color: #735e41;
}

.btn-primary:focus,
.btn-primary.focus {
    background-color: #735e41;
    border-color: #735e41;
    box-shadow: 0 0 0 0.2rem rgba(169, 131, 81, 0.5);
}

.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary.active:focus {
    background-color: #735e41;
    border-color: #735e41;
    box-shadow: none;
    color: white;
}

.btn-secondary {
    background-color: white;
    border-color: #a88250;
    color: #c29d6c;
    font-weight: 500;
}

.btn-secondary:hover {
    background-color: white;
    border-color: #735e41;
    color: #735e41;
}

.btn-secondary:focus,
.btn-secondary.focus {
    background-color: white;
    border-color: #735e41;
    color: #735e41;
    box-shadow: 0 0 0 0.2rem rgba(169, 131, 81, 0.5);
}

.btn-secondary:active,
.btn-secondary.active,
.btn-secondary:active:focus,
.btn-secondary.active:focus {
    background-color: white;
    color: #735e41;
    border-color: #735e41;
    box-shadow: none;
}

.navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-toggler:focus,
.navbar-toggler.focus,
.navbar-toggler:active,
.navbar-toggler.active {
    box-shadow: none;
}

.navbar-toggler:active:focus,
.navbar-toggler.active:focus {
    box-shadow: none;
}

.offcanvas-size {
    --bs-offcanvas-width: min(100vw, 300px) !important;
}

.offcanvas .offcanvas-body .navbar-nav {
    margin-bottom: 60px !important;
}

.offcanvas-body .nav-link {
    padding: 14px 16px;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    font-weight: 600;
    color: #1a1a1a;
}

.offcanvas-body .nav-link:hover {
    background-color: #eeeeee;
    color: #c29d6c;
}

.offcanvas-body .nav-link.active {
    color: #c29d6c;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.offcanvas-body .navbar-nav {
    width: 100%;
}

.offcanvas-body .nav-item {
    width: 100%;
}

.offcanvas-header {
    padding: 30px 20px;
}

.nav-slogan {
    font-size: 14px;
}

.nav-item-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-section {
    z-index: -10 !important;
    height: 70vh;
    background-size: cover;
    background-position: top;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.hero-section .hero-btn {
    padding: 8px 16px;
    width: 100%;
    margin-top: 36px !important;
}

.hero-section .hero-title {
    font-size: 26px;
    font-weight: 700 !important;
}

.hero-section .hero-description {
    font-size: 16px;
    font-weight: 200 !important;
    margin-top: 6px;
}

.client-section {
    padding: 50px 0px;
    background-color: #f6f6f6;
}

.client-section .client-title {
    font-size: 26px;
    font-weight: 700 !important;
}

.client-section .client-image {
    width: 100px;
}

.carousel {
    height: 100px;
    margin-bottom: 40px;
}

.carousel-indicators {
    left: 0;
    top: auto;
    bottom: -50px;
}

.carousel-indicators button {
    background: #d9d9d9 !important;
    border-radius: 50%;
    width: 15px !important;
    height: 0 !important;
}

.carousel-indicators .active {
    background: #c19d6c !important;
}

.carousel-inner .client-image {
    width: 50px;
}

.client-section .client-title {
    font-size: 24px;
    font-weight: 700 !important;
}

.benefit-section {
    padding: 50px 20px;
}

.benefit-section .benefit-title {
    font-size: 24px;
    font-weight: 700 !important;
}

.benefit-section .benefit-description {
    font-size: 16px;
    font-weight: 200 !important;
    margin-top: 6px;
    padding: 0 10px;
}

.benefit-section .benefit-btn {
    padding: 8px 20px;
    height: fit-content;
    width: fit-content;
}

.btn-benefit-container {
    white-space: nowrap;
    overflow-x: auto;
}

.btn-benefit-container .benefit-btn {
    flex: 0 0 auto;
    margin-right: 0.5rem;
}

/* Optional: Hide the last margin */
.btn-benefit-container .benefit-btn:last-child {
    margin-right: 0;
}

.benefit-img {
    background-color: #d9d9d9;
    height: 300px;
}

.benefit-section .benefit-content-title {
    font-size: 24px;
    font-weight: 700 !important;
}

.benefit-section .benefit-content-description {
    font-size: 16px;
    font-weight: 200 !important;
    margin-top: 6px;
}

.benefit-content-list {
    width: 100%;
    background-color: #F6F6F6;
    padding: 8px 15px;
    margin-top: 20px;
}

.benefit-section .benefit-content-title-list {
    font-size: 20px;
    font-weight: 500 !important;
    margin-top: 4px;
}

.benefit-section .benefit-content-list-description {
    font-size: 16px;
    font-weight: 200 !important;
    margin-top: 6px;
}

.subscription-section {
    padding: 50px 20px;
}

.subscription-section .subscription-title {
    font-size: 24px;
    font-weight: 700 !important;
}

.subscription-section .subscription-pack-title {
    font-size: 24px;
    font-weight: 700 !important;
}

.subscription-privilege {
    font-size: 20px;
    font-weight: 200;
    color: #8A8A8A;
}

.subscription-normal-price {
    color: #2D6075;
    font-weight: 400;
    font-size: 16px;
}

.subscription-selling-price {
    font-weight: 700;
    font-size: 24px;
}

.subscription-section .btn-subscription {
    background-color: #87BBD1;
    font-weight: 500;
    padding: 14px 0;
    border-radius: 10px;
}

.subscription-section .btn-subscription-pro {
    background-color: #2D6075;
    color: white;
    font-weight: 500;
    padding: 14px 0;
    border-radius: 10px;
}

.btn-subscription:hover {
    background-color: #6098b0;
}

.btn-subscription:focus,
.btn-subscription.focus {
    background-color: #6098b0;
    border-color: #6098b0;
    box-shadow: 0 0 0 0.1rem rgba(81, 137, 160, 0.5);
}

.btn-subscription:active,
.btn-subscription.active,
.btn-subscription:active:focus,
.btn-subscription.active:focus {
    background-color: #6098b0;
    border-color: #6098b0;
    box-shadow: none;
}

.btn-subscription-pro:hover {
    background-color: #204757;
}

.btn-subscription-pro:focus,
.btn-subscription-pro.focus {
    background-color: #204757;
    border-color: #204757;
    box-shadow: 0 0 0 0.1rem rgba(81, 137, 160, 0.5);
}

.btn-subscription-pro:active,
.btn-subscription-pro.active,
.btn-subscription-pro:active:focus,
.btn-subscription-pro.active:focus {
    background-color: #204757;
    border-color: #204757;
    box-shadow: none;
    color: white;
}

.subscription-card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1rem;
    padding-bottom: 0.5rem;
}

.subscription-card {
    flex: 0 0 310px;
    max-width: 310px;
    margin: 0.5rem 0;
    border-radius: 20px 20px 0 0;
}

.subscription-card-container::-webkit-scrollbar {
    height: 6px;
}

.subscription-card-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.subscription-card-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Small devices (landscape phones 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .hero-section .hero-btn {
        padding: 8px 16px;
        width: 200px !important;
        font-size: 16px;
        margin-top: 30px !important;
    }

    .carousel-inner .client-image {
        width: 100px;
    }

    .carousel-indicators button {
        width: 20px !important;
        height: 0 !important;
    }

    .benefit-section {
        padding: 100px 20px;
    }

    .benefit-img {
        height: 400px;
    }

    .benefit-content-list {
        width: 85%;
    }

    .subscription-card {
        flex: 0 0 400px;
        max-width: 400px;
        margin: 0.5rem 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .btn-primary {
        padding: 6px 16px;
        width: 130px;
        font-size: 14px;
    }

    .btn-secondary {
        padding: 6px 16px;
        width: 130px;
        font-size: 14px;
    }

    .offcanvas .offcanvas-body .navbar-nav {
        margin-bottom: 0px !important;
    }

    .offcanvas-body .nav-link {
        font-weight: 500;
        color: #1a1a1a;
        padding: 0;
        transition: none;
        font-size: 14px;
    }

    .offcanvas-body .nav-link:hover {
        background-color: white;
        color: #735e41;
    }

    .offcanvas-body .nav-link.active {
        color: #c19d6c !important;
    }

    .offcanvas-body {
        display: block;
        flex-direction: row;
        align-items: center;
    }

    .offcanvas-body .navbar-nav {
        width: auto;
    }

    .offcanvas-body .nav-item {
        width: fit-content;
    }

    .hero-section .hero-title {
        font-size: 32px;
        font-weight: 700 !important;
    }

    .client-section .client-title {
        font-size: 32px;
        font-weight: 700 !important;
    }

    .benefit-section .benefit-title {
        font-size: 32px;
        font-weight: 700 !important;
    }

    .benefit-section .benefit-description {
        font-size: 16px;
        font-weight: 200 !important;
        margin-top: 6px;
        padding: 0 260px;
    }

    .benefit-img {
        height: 500px;
    }

    .benefit-content {
        padding: 0 100px;
    }

    .subscription-section .subscription-title {
        font-size: 32px;
        font-weight: 700 !important;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .btn-primary {
        padding: 8px 20px;
        width: 150px;
        font-size: 16px;
    }

    .btn-secondary {
        padding: 8px 20px;
        width: 150px;
        font-size: 16px;
    }

    .offcanvas-body .nav-link {
        font-size: 16px;
    }

    .subscription-card-container {
        justify-content: center;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
